/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --font-family: IBM Plex Mono;
  --page-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --text-size: 18px;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-color);
  padding-inline: 10px;
}

@media (768 = width <= 1024px) {
  .page {}
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-self: end;
  font-family: var(--font-family), sans-serif;
  text-transform: lowercase;
  align-self: center;
  margin-block-start: 75px;
  block-size: 100%;
  min-block-size: 98px;
  /*border: solid 1px #fff;*/
}

@media (768 = width <= 1024px) {
    .header__theme-menu-list {

  }
}

button {

}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button {
  display: flex;
  align-items: start;
  justify-content: center;
  inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  color: #FF0070;
  text-transform: lowercase;
  font-size: var(--text-size);
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.header__theme-menu-label {
  display: flex;
  position: absolute;
  font-family: var(--font-family), sans-serif;
  font-size: var(--text-size);
  color: var(--accent-color);
}

.header__theme-menu-label::after {
  content: "";
  display: block;
  align-self: center;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  margin-inline-start: 10px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.main__section-title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: var(--font-family), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  block-size: 100%;
  inline-size: 100%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  padding-block-start: 65px;
  padding-block-end: 55px;
}

@media (width > 768px) {
  .main__section-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}

.title-decor {
  font-family: var(--font-family), sans-serif;
  font-size: var(--text-size);
  font-weight: bold;
  color: var(--page-color);
  background-color: var(--accent-color);
  line-height: 23.4px;
}